{% include 'header.twig' %}
<div class="container" style="text-align: right;">
        <h4>Hello, {{ user_data['name'] }} </h4>
        <span><a href="/logout">(logout)</a></span>
</div>

<link rel="stylesheet" href="../app/assets/css/slidebars.css">

<script>
    (function($) {
        $(document).ready(function() {
            $.slidebars();
        });
    }) (jQuery);
</script>

<style>
    body {
    }

    .fixed {
        width: 250px;  /* the fixed width required */
        float: left;
        height: 100px;
        border-radius: 19px 19px 19px 19px;
        -moz-border-radius: 19px 19px 19px 19px;
        -webkit-border-radius: 19px 19px 19px 19px;
        border: 3px solid #a189a1;
        margin: 20 20 20 20;
    }

    hr{
        margin: 5px 0px 5px 0px;
    }
    .title{
        margin: 5px 0px;
    }
    #message
    {
        text-align: center;
        color: #245269;
        font-size: 20px;
    }

    .player-list-sidebar{
        color: #ffffff;
    }

    .player-list-sidebar div{
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid #ffffff;
    }

    .player-status-icon {
        width: 50px;
        height: 50px;
    }
</style>

<div id="sb-site">
    <ul>
        <li class="sb-toggle-left">See rankings</li>
    </ul>

    <div id="message">
        <span>
            {% if user_data['game_status'] == 'out' %}Sorry, You already have lost the tournament!! {% endif %}
        </span>
    </div>

    <div class="container">
        <div class="row">
            {% for weekly_score in weekly_socres %}
                <div class="col-md-3 fixed" id = "select_options">
                    <div class="title">{{ weekly_score['quarter'] }}</div><hr>
                    <label><input
                                type="radio"
                                name="optradio"
                                value="{{ weekly_score['away_team'] }}"
                                {% if weekly_score['away_team'] == team_picked %} checked="checked" {% endif %}
                                {% if user_data['game_status'] == 'out' %} disabled="disabled" {% endif %}
                                {% if user_data['picked_game_begin'] == 'yes' %} disabled="disabled" {% endif %}
                                {% if weekly_score['game_remain'] == 0 %} disabled="disabled" {% endif %}
                                {% if weekly_score['away_team'] in user_data['previous_picks'] %} disabled="disabled" {% endif %}>
                        {{ weekly_score['away_team'] }}
                    </label> {{ weekly_score['away_team_score'] }}<br/>
                    <label><input
                                type="radio"
                                name="optradio"
                                value="{{ weekly_score['home_team'] }}"
                                {% if weekly_score['home_team'] == team_picked %} checked="checked" {% endif %}
                                {% if user_data['game_status'] == 'out' %} disabled="disabled" {% endif %}
                                {% if user_data['picked_game_begin'] == 'yes' %} disabled="disabled" {% endif %}
                                {% if weekly_score['game_remain'] == 0 %} disabled="disabled" {% endif %}
                                {% if weekly_score['home_team'] in user_data['previous_picks'] %} disabled="disabled" {% endif %}>
                        {{ weekly_score['home_team'] }}
                    </label> {{ weekly_score['home_team_score'] }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.twig' %}

</div>

<div class="sb-slidebar sb-left sb-style-push player-list-sidebar">
    {% for ranking in rankings %}
        <div> <img class="player-status-icon" src = "../app/assets/images/{{ ranking['status'] }}.png"/> {{ ranking['full_name'] }}</div>
    {% endfor %}
</div>


