{% include 'header.twig' %}
<link rel="stylesheet" href="/app/assets/css/survivor.css"/>
<div class="container" style="text-align: right;">
        <h4>Hello, {{ user_data['name'] }} </h4>
</div>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="radio">
                {% for weekly_score in weekly_socres %}
                    <div class="item">
                        <div class="well">
                            <div>
                                {{ weekly_score['quarter'] }}
                            </div>
                            <div class="container">
                                <div class="row">
                                    <label><input type="radio" name="optradio">{{ weekly_score['away_team'] }}</label> {{ weekly_score['away_team_score'] }}
                                </div>
                                <div class="row">
                                    <label><input type="radio" name="optradio">{{ weekly_score['home_team'] }}</label> {{ weekly_score['home_team_score'] }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% include 'footer.twig' %}